@font-face {
  font-family: "Roboto";
  src: url(images/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #000;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
h3 {
  font-weight: lighter;
}
p {
  margin: 0.5rem 0;

  color: #fff;
}

.showcase .header {
  padding: 20px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 1000;
}
.brand-container {
  height: 36px;
  width: 134px;
}
.brand-container .site-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header a {
  color: #fff;
  background-color: #e50914;
  padding: 8px 18px;
  border-radius: 5px;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(50%);
}
.banner .our-story-card-text {
  z-index: 1000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner .heading h2 {
  font-size: 3.125rem;
  color: #fff;
  letter-spacing: 2px;
  width: 80%;
}
.banner .heading h5 {
  font-size: 1.625rem;
  color: #fff;
  font-weight: 400;
  padding: 1rem 0;
}

.banner .heading p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem 0;
  padding-bottom: 20px;
}
.global-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.global-search input {
  padding: 10px 10px 0 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #8c8c8c;
  color: #000;
  min-width: 400px;
  height: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  align-items: center;
  border-top: 0;
  border-radius: 0;
  border-left: 0;
}
.banner .global-search button {
  border: none;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  letter-spacing: 0.1px;
  border-radius: 2px;
  background-color: #e50914;
  box-shadow: 0.1px 0 rgba(0, 0, 0, 0.45);
  font-size: 1.625rem;
  padding: 0 30px;
  line-height: 60px;
  min-width: 310px;
  cursor: pointer;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.our-story-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #000;
  align-items: center;
  padding: 2rem 4rem;
  border-top: 8px solid #222;
}
.our-story-cards .our-story-card-text {
  flex-basis: 40%;
}
.our-story-cards .our-story-card-text .our-story-card-title {
  color: #fff;
  line-height: 1.1;
  font-size: 3.124rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
.our-story-cards .our-story-card-text .our-story-card-subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 1.625rem;
}
.our-story-card-img-container {
  flex-basis: 45%;
}
.our-story-card-img {
  position: relative;
  z-index: 100;
  max-width: 100%;
  height: auto;
}
.list {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.list h1 {
  font-size: 3rem;
  padding: 3rem 0 4rem 0;
}
.title {
  background: #303030;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 400;
}
.icon {
  width: 20px;
  position: relative;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: -1.5px;
}
.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}
.text {
  background: #303030;
  line-height: 35px;
  margin: 3px 0;
  opacity: 0;
  height: 0;
  font-size: 1.7rem;
  font-weight: 400;
}
.item:target .text {
  opacity: 1;
  height: auto;
  padding: 20px 30px;
  margin: 0;
  border-top: 2px solid #000;
  margin-bottom: 6px;
}
.banner2 .input {
  margin: 4rem 0;
}
.banner2 .input input {
  padding: 10px 10px 0 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #8c8c8c;
  color: #000;
  min-width: 400px;
  height: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  align-items: center;
  border-top: 0;
  border-radius: 0;
  border-left: 0;
}
.banner2 button {
  border: none;

  color: #fff;
  outline: none;
  letter-spacing: 0.1px;
  border-radius: 2px;
  background-color: #e50914;
  box-shadow: 0.1px 0 rgba(0, 0, 0, 0.45);
  font-size: 1.625rem;
  padding: 0 30px;
  line-height: 60px;
  min-width: 310px;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
  color: #999999;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 2.4;
}

@media screen and (max-width: 787px) {
  .banner .heading h2 {
    font-size: 2.1rem;
    letter-spacing: 1.5px;
    width: 100%;
  }
  .banner .heading h5 {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  .banner .heading p {
    font-size: 0.7rem;
    padding: 13px 0;
    padding-bottom: 17px;
  }
  .global-search {
    flex-direction: column;
  }
  .global-search input {
    min-width: 310px;
    margin-bottom: 20px;
  }
  .our-story-cards {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
  }
  .our-story-cards .our-story-card-text {
    flex-basis: 80%;
    margin: 20px 0 30px 0;
  }
  .our-story-cards .our-story-card-text .our-story-card-title {
    font-size: 3.2rem;

    letter-spacing: 1.5px;
    padding-bottom: 5px;
  }
  .our-story-cards .our-story-card-text .our-story-card-subtitle {
    font-size: 1.5rem;
  }
  .our-story-card-img-container {
    flex-basis: 80%;
  }
  .downloadAndWatch {
    flex-direction: column;
  }
  .list {
    width: 80%;
  }
  .list h1 {
    font-size: 2.6rem;
    text-align: center;
  }
  .title {
    font-size: 1.6rem;
  }
  .banner2 .heading p {
    font-size: 1.1rem;
    padding: 13px 0;
    padding-bottom: 17px;
  }
  .footer {
    flex-direction: column;
    overflow: hidden;
  }
}
@media screen and (max-width: 496px) {
  .banner .heading h2 {
    font-size: 1.5rem;
    letter-spacing: 1.3px;
  }
  .banner .heading h5 {
    font-size: 0.8rem;
  }

  .banner .heading p {
    font-size: 0.7rem;
    padding: 12px 0;
    padding-bottom: 15px;
  }

  .global-search input {
    margin-bottom: 10px;
  }

  .our-story-cards .our-story-card-text .our-story-card-title {
    font-size: 3rem;

    letter-spacing: 1.2px;
  }
  .our-story-cards .our-story-card-text .our-story-card-subtitle {
    font-size: 1.2rem;
  }

  .downloadAndWatch {
    flex-direction: column;
  }
  .list {
    width: 90%;
  }
  .list h1 {
    font-size: 2.1rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .banner2 .heading p {
    font-size: 1.1rem;
    padding: 13px 0;
    padding-bottom: 17px;
  }
}
